.inicio-titulo,.inicio-subtitulo  {
    text-align: center;
    font-size: $titulos-mobile;
    font-weight: 600;
    color: $color-gris;
    margin-top: 30px
}
.productos {
    @include boxmodel (20px, 10px , 2px solid $color-celeste, 10px);
    background-color: $color-gris;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .productos-img {
        height: 50%;
        img {
            border: 2px solid $color-blanco;
            height: 100%;
            width: 100%;
            
        }
    }    
    .productos-text {
        padding: 10px;
        color: $color-blanco;
        h4 {
            margin-top: 15px;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
        }
        span {
            font-size: $parrafos-mobile;
        }
        p {
            font-size: $parrafos-mobile;
            margin-top: 5px ;
            span {
                color: $color-celeste;
                font-weight: 600;
            }
        }
        .productos-btn {
            width: max-content;
            @include boxmodel (6px 20px, auto,0, 4px);
            display: block;
            background-color: $color-celeste;
            color: $color-blanco;
            font-size: 18px;
            outline: none;
            transition-duration: .3s;
            &:hover {
                background-color: $color-blanco;
                color: $color-celeste;
                
            }
        }
        
    }


}
/*-------------------------------------------*/
            /*indumentaria*/

.indumentaria {
    width: 65%; 
    height: 125px;
    margin: 20px auto;
    animation-name: indumentaria;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    display: none;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    @keyframes indumentaria {
        0% {left: 0;}
        25% {left:20%; }
        50% {left:0%; }
        75% {left:-20%; }
        100% {left: -0%; } 
    }
}            

@media (min-width:1024px) {
    .indumentaria {
        display: block;
    }
    
}
