.inicio-titulo,.inicio-subtitulo  {
    text-align: center;
    font-size: $titulos-mobile;
    font-weight: 600;
    color: $color-gris;
    margin-top: 30px
}
.productos {
    @include boxmodel (20px, 10px , 0, 0px);
    background-color: $color-blanco;
    display: flex;
    @include flexbox (center,center,column);
    box-shadow: 0px 0px 10px 0 $color-grisClaro;
    .productos-img {
        width: 100%;
        height: 50%;
        img {
            border: 2px solid $color-gris;
            height: 100%;
            width: 100%;
            
        }
    }    
    .productos-text {
        padding: 10px;
        color: $color-gris;
        text-align: center;
        h4 {
            margin-top: 15px;
            font-size: 22px;
            font-weight: 600;
        }
        span {
            font-size: $parrafos-mobile;
        }
        p {
            font-size: $parrafos-desktop;
            margin-top: 5px ;
            span {
                font-size: $parrafos-desktop;
                color: $color-celeste;
            }
        }
        .productos-btn {
            width: max-content;
            @include boxmodel (6px 20px, auto, 2px solid $color-celeste, 2px);
            display: block;
            background-color: $color-celeste;
            color: $color-blanco;
            font-size: 16px;
            transition-duration: .3s;
            &:hover {
                background-color: $color-blanco;
                color: $color-celeste;  
            }
        }
        
    }


}
/*-------------------------------------------*/
            /*indumentaria*/

.indumentaria {
    width: max-content;
    height: 100px;
    margin: 20px;
    animation-name: indumentaria;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    display: none;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    @keyframes indumentaria {
        0% {left: 0;}
        25% {left:25%; }
        50% {left:50%; }
        75% {left:25%; }
        100% {left:0%; } 
    }
}        

/*----------------------------*/
/*-----ATAJOS-----*/
.atajos {
    background-color: $color-grisClaro;
    padding-top: 150px;
    display: none;
    .atajos-categorias,.atajos-envio, .atajos-precio {
        padding: 15px 30px;
        h3{
            font-size: 22px;
            color: $color-celeste;
        }
        ul {
            list-style: none;
            li {
                width: max-content;
                font-size: 18px;
                padding: 5px 0;
                a {
                    text-decoration: none;
                    color: $color-blanco;
                    border-bottom: 2px solid $color-azul;

                }
            }
        }
    }

}
/*REGISTRO E INICIO DE SESION*/

.registro {
    @include boxmodel (20px 15px, 30px 10px 0, 2px solid $color-celeste, 2px);
    box-shadow: .5px -.5px 10px 0 $color-celeste;
    background-color: $color-gris;
    .registro-titulo{
        text-align: center;
        h2 {
            font-size: $subtitulos-mobile;
            color: $color-blanco;
        }
    }
    .registro-form{
        text-align: center;
        margin-bottom: 20px;
        .form-label, .form-input{
            font-size: 17px;
            padding: 5px 10px;
            margin-top: 5px;
            
        }
        .form-input {
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 4px solid $color-celeste;
        }
        .form-label{
            color: $color-celeste;
            font-weight: 600;     
        }
        span {
            padding: 10px;
            display: block;
            color: $color-blanco;
            font-size: $parrafos-mobile;
        }
        button {
            margin-top: 5px;
            padding: 5px 30px;
            background-color: $color-celeste;
            color: $color-blanco;
            border-radius: 2px;
            border: none;
            border-bottom:4px solid $color-blanco ;
            &:hover {
                background-color: $color-azul;
                transform: scale(1.05);
            }
        }
    }
}



















@media (min-width:768px) {
    .main-titulo {
        margin: 50px auto;
        background-color: $color-gris;
        h1{ 
            width:20%;
            height: 80px;
            margin: auto;
            border: 5px solid $color-gris;
            img {
                width: 100%;
                height: 100%;  
            }
        }
        
    }
    .atajos {
        display: block;
    }
}


@media (min-width:1024px) {
    .indumentaria {
        display: block;
    }
    .productos {
        height: 450px;
        .productos-text {
            padding: 10px;
            color: $color-gris;
            h4 {
                margin-top: 15px;
                text-align: center;
                font-size: 22px;
                font-weight: 600;
            }
            span {
                font-size: $parrafos-mobile;
            }
            p {
                font-size: $parrafos-desktop;
                margin-top: 5px ;
                span {
                    font-size: $parrafos-desktop;
                    color: $color-celeste;
                }
            }
            
        }
    
    
    }

    
}


/*---------------------------*/
/*accesorios*/





        

    

