.navegacion {
    display: flex;
    @include flexbox (center, center, column);
    background-color: $color-grisClaro;
    .nav__logo {
        width: 200px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .nav__enlaces {
        list-style: none;
        text-align: center;
        font-size: $parrafos-mobile;
        li {
            padding: 8px 10px;
            margin-top: 5px;
            border-bottom: 2px solid $color-gris; 
            a {
                padding: 5px 20px;
                text-decoration: none;
                color: $color-blanco;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
        
}

@media (min-width:1024px) {
    .navegacion {
        @include flexbox (space-between, center, row);
        .nav__logo {
            width: 150px;     
        }
        .nav__enlaces {
            display: flex;
            margin-top: 15px;
            font-size: 16px;
            li {
                width: max-content;
                padding: 0px 10px;
                margin-top: 0px;
                border: none;
                a {
                    border-bottom: 3px solid $color-azul;
                    text-transform: capitalize;
                }
            }
        }
    }


}
    


