.navegacion {
    display:flex;
    @include flexbox (center, center, column);
    background-color: $color-grisClaro;
    .nav__logo {
        width: 200px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .nav__enlaces {
        list-style: none;
        text-align: center;
        font-size: $parrafos-mobile;
        li {
            padding: 8px 10px;
            margin-top: 5px;
            border-bottom: 2px solid $color-gris; 
            a {
                padding: 5px 20px;
                text-decoration: none;
                color: $color-blanco;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
        
}
.header-img {
    display: none;
 }

 @media (min-width:768px) {
    .header-img {
        display: block;
        margin-top: 30px;
        
     }
 }


@media (min-width:1024px) {
    .navegacion {
        padding: 0 25px;
        @include flexbox (space-between, center, row);
        .nav__logo {
            width: 150px;     
        }
        .nav__enlaces {
            display: flex;
            margin-top: 15px;
            font-size: 16px;
            li {
                width: max-content;
                padding: 0px 10px;
                margin-top: 0px;
                border: none;
                transition-duration: .2s;
                a {
                    border-bottom: 3px solid $color-azul;
                    border-radius: 5px;
                    transition-duration: .2s;
                    
                }
                &:hover {
                    transform: translatey(2px);

                }
                &:hover a{
                    background-color: $color-azul;
                    color: $color-blanco;
                    box-shadow: .5px -0.5px 5px 0 $color-blanco;
                    
                }
               
            }
                
               
        }
    }


}
    


