
/*COLORES*/

$color-azul : #0077CC;
$color-celeste: #0095FF;
$color-gris : #161617;
$color-grisClaro: #39393B;
$color-blanco: #FFFFFF; 

/*TAMAÑOS DE LETRA*/

$titulos-mobile: 36px;
$subtitulos-mobile: 28px;
$parrafos-mobile:18px;

$titulos-desktop: 52px;
$subtitulos-desktop: 36px;
$parrafos-desktop: 18px;


