@charset "UTF-8";
/*COLORES*/
/*TAMAÑOS DE LETRA*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFFFFF;
}

/*Flexbox*/
.navegacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #39393B;
}

.navegacion .nav__logo {
  width: 200px;
}

.navegacion .nav__logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navegacion .nav__enlaces {
  list-style: none;
  text-align: center;
  font-size: 15px;
}

.navegacion .nav__enlaces li {
  padding: 8px 10px;
  margin-top: 5px;
  border-bottom: 2px solid #161617;
}

.navegacion .nav__enlaces li a {
  padding: 5px 20px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
}

.header-img {
  display: none;
}

@media (min-width: 768px) {
  .header-img {
    display: block;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .navegacion {
    padding: 0 25px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navegacion .nav__logo {
    width: 150px;
  }
  .navegacion .nav__enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    font-size: 16px;
  }
  .navegacion .nav__enlaces li {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0px 10px;
    margin-top: 0px;
    border: none;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .navegacion .nav__enlaces li a {
    border-bottom: 3px solid #0077CC;
    border-radius: 5px;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .navegacion .nav__enlaces li:hover {
    -webkit-transform: translatey(2px);
            transform: translatey(2px);
  }
  .navegacion .nav__enlaces li:hover a {
    background-color: #0077CC;
    color: #FFFFFF;
    -webkit-box-shadow: 0.5px -0.5px 5px 0 #FFFFFF;
            box-shadow: 0.5px -0.5px 5px 0 #FFFFFF;
  }
}

.inicio-titulo, .inicio-subtitulo {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #161617;
  margin-top: 30px;
}

.productos {
  padding: 20px;
  margin: 10px;
  border: 0;
  border-radius: 0px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0 #39393B;
          box-shadow: 0px 0px 10px 0 #39393B;
}

.productos .productos-img {
  width: 100%;
  height: 50%;
}

.productos .productos-img img {
  border: 2px solid #161617;
  height: 100%;
  width: 100%;
}

.productos .productos-text {
  padding: 10px;
  color: #161617;
}

.productos .productos-text h4 {
  margin-top: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.productos .productos-text span {
  font-size: 15px;
}

.productos .productos-text p {
  font-size: 18px;
  margin-top: 5px;
}

.productos .productos-text p span {
  font-size: 18px;
  color: #0095FF;
}

.productos .productos-text .productos-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 20px;
  margin: auto;
  border: 2px solid #0095FF;
  border-radius: 2px;
  display: block;
  background-color: #0095FF;
  color: #FFFFFF;
  font-size: 16px;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.productos .productos-text .productos-btn:hover {
  background-color: #FFFFFF;
  color: #0095FF;
}

/*-------------------------------------------*/
/*indumentaria*/
.indumentaria {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100px;
  margin: 20px;
  -webkit-animation-name: indumentaria;
          animation-name: indumentaria;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  display: none;
}

.indumentaria img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes indumentaria {
  0% {
    left: 0;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 25%;
  }
  100% {
    left: 0%;
  }
}

@keyframes indumentaria {
  0% {
    left: 0;
  }
  25% {
    left: 25%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 25%;
  }
  100% {
    left: 0%;
  }
}

/*----------------------------*/
/*-----ATAJOS-----*/
.atajos {
  background-color: #39393B;
  padding-top: 150px;
  display: none;
}

.atajos .atajos-categorias, .atajos .atajos-envio, .atajos .atajos-precio {
  padding: 15px 30px;
}

.atajos .atajos-categorias h3, .atajos .atajos-envio h3, .atajos .atajos-precio h3 {
  font-size: 22px;
  color: #0095FF;
}

.atajos .atajos-categorias ul, .atajos .atajos-envio ul, .atajos .atajos-precio ul {
  list-style: none;
}

.atajos .atajos-categorias ul li, .atajos .atajos-envio ul li, .atajos .atajos-precio ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  padding: 5px 0;
}

.atajos .atajos-categorias ul li a, .atajos .atajos-envio ul li a, .atajos .atajos-precio ul li a {
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 2px solid #0077CC;
}

@media (min-width: 768px) {
  .main-titulo {
    margin: 50px auto;
    background-color: #161617;
  }
  .main-titulo h1 {
    width: 20%;
    height: 80px;
    margin: auto;
    border: 5px solid #161617;
  }
  .main-titulo h1 img {
    width: 100%;
    height: 100%;
  }
  .atajos {
    display: block;
  }
}

@media (min-width: 1024px) {
  .indumentaria {
    display: block;
  }
  .productos {
    height: 450px;
  }
  .productos .productos-text {
    padding: 10px;
    color: #161617;
  }
  .productos .productos-text h4 {
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
  .productos .productos-text span {
    font-size: 15px;
  }
  .productos .productos-text p {
    font-size: 18px;
    margin-top: 5px;
  }
  .productos .productos-text p span {
    font-size: 18px;
    color: #0095FF;
  }
}

/*---------------------------*/
/*accesorios*/
.aside {
  background-color: #161617;
  margin-top: 50px;
}

.aside .aside-icon {
  font-size: 70px;
  color: #0095FF;
}

.aside .aside-text {
  padding: 10px 20px;
}

.aside .aside-text h3 {
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  color: #0095FF;
}

.aside .aside-text p {
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.patas {
  background: red;
}

.pie {
  margin-top: 100px;
  background-color: #0077CC;
}

.pie .pie-contacto, .pie .pie-pago, .pie .pie-redes {
  padding: 10px 25px;
}

.pie .pie-contacto h5, .pie .pie-pago h5, .pie .pie-redes h5 {
  color: #161617;
  font-size: 28px;
}

.pie .pie-contacto li, .pie .pie-pago li, .pie .pie-redes li {
  color: #FFFFFF;
}

.pie .pie-contacto a, .pie .pie-pago a, .pie .pie-redes a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 28px;
  padding: 5px 15px;
}

.pie .pie-copy {
  width: 100%;
  text-align: center;
  background-color: #aaa;
  padding: 10px 0;
}
/*# sourceMappingURL=style.css.map */